In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Exploration

In [3]:
df=pd.read_csv("data/Fixated.csv")
df

,Wilayah,NCPR,Kemiskinan (%),Pengeluaran Pangan (%),Stunting (%),IKP
0,dki jakarta - kepulauan seribu,5.00,15.06,55.79,19.3,54.18
1,dki jakarta - jakarta pusat,0.00,4.94,13.45,19.7,83.56
2,dki jakarta - jakarta utara,0.00,7.24,20.37,20.4,77.15
3,dki jakarta - jakarta barat,0.00,4.31,8.52,17.6,84.67
4,dki jakarta - jakarta selatan,0.00,3.56,6.58,15.7,85.38
...,...,...,...,...,...,...
123,bali - klungkung,1.04,5.64,16.65,19.4,83.29
124,bali - bangli,1.95,5.09,14.84,11.8,75.10
125,bali - karangasem,0.98,6.78,18.06,22.9,78.79
126,bali - buleleng,1.49,6.12,28.71,8.9,79.91
127,bali - kota denpasar,0.00,2.96,3.46,9.0,91.82